.header {
  font-size: 50px;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  font-family: Roboto, Helvetica Neue, sans-serif;
  text-align: center;
  button {
    padding: 12px 17px 12px 17px;
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 18px;
    font-weight: 200;
    background-color: C85137;
    border-radius: 7px;
    border: .5px solid gray;
    color: white;
  }
  .searchButton {
    margin-right: 30px;
  }
  .searchButton:hover{
    background-color: darkred;
  }
  .profileButton:hover {
    background-color: darkred;
  }
  p {
    font-size: 20px;
    font-family: Roboto, Helvetica Neue, sans-serif;
    text-align: center;
  }
  .spanOne {
    font-weight: 300;
  }
  .spanTwo {
    font-weight: 300;
  }
  .spanThree {
    color: C85137;
    font-weight: 500;
  }
}


