.header {
  font-size: 50px;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  font-family: Roboto, Helvetica Neue, sans-serif;
  text-align: center;
  button {
    padding: 0px 20px 0px 20px;
  }
  .searchButton {
    margin-right: 30px;
  }
  p {
    font-size: 20px;
    font-family: Roboto, Helvetica Neue, sans-serif;
    text-align: center;
  }
  .spanOne {
    font-weight: 300;
  }
  .spanTwo {
    font-weight: 300;
  }
  .spanThree {
    color: C85137;
    font-weight: 500;
  }
}


