.headerWrapper {
  font-size: 50px;
  width: 380px;
  margin: 20px;
  padding: 8px;
  border-radius: 5px;
  // border: 1px solid gray ;
  font-family: Roboto, Helvetica Neue, sans-serif;
}
.headerInnerDiv {
  text-align: center;
}
.spanOne {
  font-weight: 300;
}
.spanTwo {
  font-weight: 300;
}
.spanThree {
  color: C85137;
  font-weight: 500;
}